node_modules
.nx
upwards/ios
upwards/android
azure-pipelines.yml
upwards-modules/authentication/
upwards-modules/client/
upwards-@upward/navigation/
upwards-modules/store-core/
upwards-modules/alerts/network/
upwards-modules/alerts/provider/
upwards-modules/member/network/
upwards-modules/member/provider/
upwards-modules/documents/network/
upwards-modules/documents/provider/
upwards-modules/documents/components/
.eslintignore
.eslintrc.js
*.js
*.json
.husky
*.config
*.lock
shared-libs/
**/__mocks__/
storybook