node_modules/
dist/
.nx
npm-debug.*
*.jks
# *.p8
# *.p12
*.key
# *.mobileprovision
*.orig.*
*.zip
# .vscode/
coverage/
**/fastlane/builds/**
**/android/*.json
# macOS
.DS_Store

# Android
*/android/app/release/
*/android/app/build/
.idea
.gradle
local.properties
*.iml
*.project
*.classpath
*.bundle
*.aab
#iOS
**/ios/build/
**/ios/Pods/

*.ipa
DerivedData
xcuserdata/
**/ios/*.zip
**/ios/main.jsbundle
**/ios/.xcode.env.local
# ios/*.cer

.nx/cache
